.navbar{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-evenly;
    background-color: aqua;
padding: 50px;
width: 100px;
}
.arrow{
    height: 50px;
    width: 96px;
    color: chocolate;
}
